<div data-theme="pastel" class="max-h-screen flex flex-col">
  <div class="navbar bg-base-300 shadow-lg">
    <div class="flex-1">
      <a routerLink="/" class="btn btn-ghost text-xl">RocketGrades</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a routerLink="/login" class="btn btn-primary">Login</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container mx-auto pt-4 flex-grow">
    <router-outlet></router-outlet>
  </div>
  <footer class="p-4 text-center text-base-content bg-accent">
    <div>&copy; 2025 RocketGrades</div>
  </footer>
</div>
