<div data-theme="pastel" class="min-h-screen flex flex-col">
  <div class="navbar bg-base-300 shadow-lg">
    <div class="flex-1">
      <a routerLink="/" class="btn btn-ghost text-xl">RocketGrades</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a routerLink="/login" class="btn btn-primary">Login</a>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="pt-4 flex flex-grow items-center justify-center w-screen bg-base-200"
  >
    <router-outlet></router-outlet>
  </div>

  <footer class="footer footer-center py-4 bg-accent text-base-content">
    <div>
      <p>Copyright © 2023 - RocketGrades</p>
    </div>
  </footer>
</div>
<!-- <app-user-list></app-user-list>> -->
