<div class="bg-base-100 p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-primary mb-6">Teacher Classes</h2>
</div>
<div class="overflow-x-auto">
    <table class="table table-zebra w-full">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Code</th>
                <th>Students</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let classObject of classes">
                <td>{{ classObject.name }}</td>
                <td>{{ classObject.code }}</td>
                <td>{{ getStudentCount(classObject) }}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="viewClassDetails(classObject._id)">View Details</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
