<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <div class="text-center lg:text-center mb-12">
      <h1 class="text-5xl font-bold text-primary">Welcome Back!</h1>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label class="label" for="username">
            <span class="label-text">Username</span>
          </label>
          <input
            type="text"
            id="username"
            [(ngModel)]="username"
            name="username"
            placeholder="username"
            class="input input-bordered"
            required
          />
        </div>
        <div class="form-control">
          <label class="label" for="password">
            <span class="label-text">Password</span>
          </label>
          <div class="relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              [(ngModel)]="password"
              name="password"
              placeholder="password"
              class="input input-bordered w-full"
            />
            <button
              type="button"
              class="btn btn-ghost absolute top-1/2 right-2 -translate-y-1/2"
              (click)="togglePasswordVisibility()"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" *ngIf="!showPassword">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" *ngIf="showPassword">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223c.342-.35.728-.634 1.15-.825a10.42 10.42 0 0 1 9.397 0c.423.19.81.474 1.15.824M1.989 12c.618 0 1.227.09 1.81.263m14.093 0c.081-.247.16-.493.238-.738l-.254-.254a10.41 10.41 0 0 0-9.397 0l-.255.255c.078.244.156.49.238.737m-3.767 6.38a10.44 10.44 0 0 1-1.05-1.186 10.423 10.423 0 0 1-1.79-1.789m3.767 3.694c.39-.39.73-.848 1.05-1.348a10.373 10.373 0 0 1-3.81-3.809m.238 1.94c.243.44.49.815.772 1.133" />
            </svg>
            </button>
          </div>
        </div>
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
